@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: rgb(247, 249, 250);
    --foreground: rgb(60, 78, 79);
    --card: rgb(255, 255, 255);
    --card-foreground: rgb(60, 78, 79);
    --popover: rgb(255, 255, 255);
    --popover-foreground: rgb(60, 78, 79);
    --primary: rgb(121, 154, 171);
    --primary-foreground: rgb(247, 249, 250);
    --secondary: rgb(217, 230, 236);
    --secondary-foreground: rgb(60, 78, 79);
    --muted: rgb(217, 224, 227);
    --muted-foreground: rgb(104, 125, 128);
    --accent: rgb(165, 195, 230);
    --accent-foreground: rgb(67, 46, 75);
    --destructive: rgb(85, 86, 128);
    --destructive-foreground: rgb(247, 249, 250);
    --border: rgb(201, 212, 217);
    --input: rgb(231, 237, 240);
    --ring: rgb(121, 154, 171);
    --chart-1: rgb(121, 154, 171);
    --chart-2: rgb(211, 165, 230);
    --chart-3: rgb(142, 184, 119);
    --chart-4: rgb(240, 141, 181);
    --chart-5: rgb(160, 227, 200);
    --sidebar: rgb(239, 243, 245);
    --sidebar-foreground: rgb(60, 78, 79);
    --sidebar-primary: rgb(121, 154, 171);
    --sidebar-primary-foreground: rgb(247, 249, 250);
    --sidebar-accent: rgb(211, 165, 230);
    --sidebar-accent-foreground: rgb(67, 46, 75);
    --sidebar-border: rgb(210, 219, 224);
    --sidebar-ring: rgb(121, 154, 171);
    --font-sans: Geist, sans-serif;
    --font-serif: 'Lora', Georgia, serif;
    --font-mono: 'Fira Code', 'Courier New', monospace;
    --radius: 0.5rem;
    --shadow-x: 1px;
    --shadow-y: 2px;
    --shadow-blur: 5px;
    --shadow-spread: 1px;
    --shadow-opacity: 0.06;
    --shadow-color: #1a1a1a;
    --shadow-2xs: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.03);
    --shadow-xs: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.03);
    --shadow-sm: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06),
      1px 1px 2px 0px hsl(0 0% 10.1961% / 0.06);
    --shadow: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06),
      1px 1px 2px 0px hsl(0 0% 10.1961% / 0.06);
    --shadow-md: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06),
      1px 2px 4px 0px hsl(0 0% 10.1961% / 0.06);
    --shadow-lg: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06),
      1px 4px 6px 0px hsl(0 0% 10.1961% / 0.06);
    --shadow-xl: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06),
      1px 8px 10px 0px hsl(0 0% 10.1961% / 0.06);
    --shadow-2xl: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.15);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
  }

  .dark {
    --background: rgb(24, 33, 35);
    --foreground: rgb(221, 236, 239);
    --card: rgb(32, 45, 48);
    --card-foreground: rgb(221, 236, 239);
    --popover: rgb(32, 45, 48);
    --popover-foreground: rgb(221, 236, 239);
    --primary: rgb(149, 181, 201);
    --primary-foreground: rgb(24, 33, 35);
    --secondary: rgb(83, 105, 112);
    --secondary-foreground: rgb(221, 236, 239);
    --muted: rgb(32, 45, 49);
    --muted-foreground: rgb(154, 167, 173);
    --accent: rgb(46, 54, 63);
    --accent-foreground: rgb(228, 184, 242);
    --destructive: rgb(229, 115, 229);
    --destructive-foreground: rgb(24, 33, 35);
    --border: rgb(44, 60, 64);
    --input: rgb(39, 55, 58);
    --ring: rgb(149, 181, 201);
    --chart-1: rgb(149, 181, 201);
    --chart-2: rgb(228, 184, 242);
    --chart-3: rgb(142, 184, 119);
    --chart-4: rgb(240, 141, 181);
    --chart-5: rgb(160, 227, 200);
    --sidebar: rgb(20, 29, 31);
    --sidebar-foreground: rgb(221, 236, 239);
    --sidebar-primary: rgb(149, 181, 201);
    --sidebar-primary-foreground: rgb(24, 33, 35);
    --sidebar-accent: rgb(46, 54, 63);
    --sidebar-accent-foreground: rgb(228, 184, 242);
    --sidebar-border: rgb(39, 55, 58);
    --sidebar-ring: rgb(149, 181, 201);
    --font-sans: Geist, sans-serif;
    --font-serif: 'Lora', Georgia, serif;
    --font-mono: 'Fira Code', 'Courier New', monospace;
    --radius: 0.5rem;
    --shadow-x: 1px;
    --shadow-y: 2px;
    --shadow-blur: 5px;
    --shadow-spread: 1px;
    --shadow-opacity: 0.06;
    --shadow-color: #1a1a1a;
    --shadow-2xs: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.03);
    --shadow-xs: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.03);
    --shadow-sm: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06),
      1px 1px 2px 0px hsl(0 0% 10.1961% / 0.06);
    --shadow: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06),
      1px 1px 2px 0px hsl(0 0% 10.1961% / 0.06);
    --shadow-md: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06),
      1px 2px 4px 0px hsl(0 0% 10.1961% / 0.06);
    --shadow-lg: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06),
      1px 4px 6px 0px hsl(0 0% 10.1961% / 0.06);
    --shadow-xl: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06),
      1px 8px 10px 0px hsl(0 0% 10.1961% / 0.06);
    --shadow-2xl: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.15);
  }
  body {
    letter-spacing: var(--tracking-normal);
  }
}

@layer base {
  @theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
